In [1]:
from collections import defaultdict
from datetime import datetime
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('data/ml-25m/ratings.csv', sep=',')#, names=['userId','movieId','rating','timestamp'], header=None)
df.shape

(25000095, 4)

In [18]:
df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [19]:
# Remove userIds with less than 50 occurences
users_to_rem = df.userId.value_counts() < 10
users_to_rem = [users_to_rem.index[i] if users_to_rem.iloc[i] else np.nan for i in range(len(users_to_rem))]
df = df[~df.loc[:,'userId'].isin(users_to_rem)]

In [20]:
# Remove movieIds with less than 20 occurences
movies_to_rem = df.movieId.value_counts() < 10
movies_to_rem = [movies_to_rem.index[i] if movies_to_rem.iloc[i] else np.nan for i in range(len(movies_to_rem))]
df = df[~df.loc[:,'movieId'].isin(movies_to_rem)]

In [21]:
df.shape

(24890583, 4)

In [22]:
df = df[df.rating > 3.5]
df.shape

(12425320, 4)

In [23]:
# Sorting
df = df.sort_values(['userId','timestamp']).reset_index(drop=True)

In [24]:
df.drop(columns=['rating', 'timestamp'], inplace=True)

In [25]:
midx = int(np.floor(df.shape[0] * 0.8))

In [26]:
trainUser = df.iloc[midx,:].userId
i = -1
currUser = 0
while currUser != trainUser:
    i+=1
    currUser = df.iloc[midx+i,:].userId

train_set = df.iloc[:midx+i, :]
test_set = df.iloc[midx+i:, :]
print(train_set.shape)
print(test_set.shape)

(9940256, 2)
(2485064, 2)

In [27]:
train_set.to_csv('data/ml-25m/ratings_processed_train.csv', index=False)
test_set.to_csv('data/ml-25m/ratings_processed_test.csv', index=False)